.matches_wrapper {
    height: 80%;
    max-height: 90vh;
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    gap: 12px;

    position: relative;
    padding-bottom: 20px;
}

.matches_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.loading_indicator {
    padding: 16px;
    text-align: center;
}

.empty_list {
    padding: 16px;
    text-align: center;
}
